html
	font-size: .9rem
@media all and (min-width: 900px)
	html
		font-size: 1rem

@media all and (max-width: 320px)
	html
		font-size: .8rem


body
	background-color: rgba(12,12,12,1)
	font-size: 14px
	line-height: 1.6
	font-family: $primaryFont
	color: $white
	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: 100%


.screen-reader-text
	position: absolute
	width: 1px
	height: 1px
	text-indent: 9999px
	left: 9999px
	opacity: .1