// Colors
$white: #fff
$black: #0c0c0c

$milky-white: #eeeeee 
$grayed-white: #e0e0e0

$muted-gray: #282828

$primaryHighlight: rgb(15, 51, 255)

$primary: rgb(17,37,214)
$primaryDark: rgb(11, 24, 142)

$secondaryHighlight: rgb(172, 0, 230)
$secondary: rgb(148,21,193)

$secondaryDark: rgb(105, 15, 138)




// fonts

$primaryFont: 'Alegreya Sans SC', sans-serif;

$primaryFont2: 'Poppins', sans-serif;
$primaryFont2: 'Montserrat', sans-serif;

$primaryFont3: 'Alegreya Sans', sans-serif;


// $contentFont: 'Exo 2', sans-serif;
// $contentFont: 'Lato', sans-serif;
// $contentFont: 'Poppins', sans-serif;

// $contentFont: 'Ubuntu', sans-serif;
// $contentFont: 'Quicksand', sans-serif;
$contentFont: 'Alegreya Sans SC', sans-serif;


