.about
  position: relative
  display: flex
  width: 90%
  max-width: 1400px
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto

  /* @media (max-width: 1180px)
    max-width: 100% */

  &--banner
    position: relative
    height: auto

    &::before
      content: ""
      position: absolute
      top: 0rem
      left: 5rem
      transform: rotate(-25deg)
      border: 5px solid $primaryHighlight
      border-right-color: transparent
      border-bottom-color: transparent

    &::after
      content: ""
      position: absolute
      top: 1rem
      left: 17rem
      transform: rotate(45deg)
      width: 10px
      height: 10px
      background-color: $primaryHighlight

    .slider
      height: 100%


    h2
      position: relative
      margin-top: 0
      margin-bottom: 3.5rem
      font-size: 2.8rem
      word-spacing: .15em
      font-weight: 400
      line-height: 1
      z-index: 1

      &::before
        z-index: -1
        content: ""
        position: absolute
        top: 0rem
        left: 11.375rem
        width: 1.875rem
        height: 1.875rem
        background-color: $primaryHighlight
        border-radius: 50%

      &::after
        z-index: -1
        content: ""
        position: absolute
        top: 7.8125rem
        left: 7.8125rem
        width: 10px
        height: 10px
        background-color: $primaryHighlight
    
    h3
      position: relative
      font-size: 2.3rem
      font-weight: 500
      word-spacing: .15em
      line-height: 1.1em
      z-index: 2

    .video-container
      position: absolute
      top: 50px
      right: 50px
      width: 250px
      height: 350px
      overflow: hidden
      transform: perspective(900px) rotateY(-8deg) rotateX(2deg)
      box-shadow: 0 0 60px 20px rgba(0,0,0,.2)
      border: 7px solid rgba(0,0,0,.3)
      border-image: linear-gradient(135deg,rgba(173,42,92,1), rgba(17,37,214,1)) 10 stretch

      &:after
        @include pseudo
        background: linear-gradient(135deg,rgba(17,37,214,.35), rgba(173,42,92,.35)), linear-gradient(135deg,rgba(0,0,0,.15), rgba(0,0,0,.15))

      video
        height: 100%
        width: 100%
        object-fit: cover


    a
      padding: 5px 17px 5px 0
      text-decoration: none
      color: $white
      font-weight: 700
      text-transform: uppercase
      background-color: transparent

      &:hover
        svg
          left: 10px

      svg
        position: relative
        left: 5px
        width: 15px
        fill: $white
        transition: left .2s ease-in-out

    .image
      position: absolute
      z-index: 1
      height: 70%
      width: 50%
      right: 0
      top: 0
      background: 
        size: contain
        repeat: no-repeat
        position: 100% 0


    .swiper-slide-1 .image
      background-image: url("../img/trans (1).png")
      background: 
        size: contain
        repeat: no-repeat
        position: 100% 0

    .swiper-slide-2 .image
      background-image: url("../img/trans (3).png")
      background: 
        size: contain
        repeat: no-repeat
        position: 100% 70%

    .swiper-slide-3 .image
      background-image: url("../img/trans (5).png")
      background: 
        size: contain
        repeat: no-repeat
        position: 100% 50%
      

  &--options
    display: flex
    max-width: 100%
    justify-content: space-between
    margin: 0
    margin-top: 2rem
    padding: 0
    list-style: none

    & > a
      position: relative
      width: 60px
      height: 65px
      text-decoration: none
      color: $white
      border: 0.625rem solid lighten($primaryHighlight,2%)
      background:
        position: center
        size: contain
        repeat: no-repeat

      &:nth-child(1)
        background-image: url("../img/trans (1).png"), linear-gradient(0deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

      &:nth-child(2)
        background-image: url("../img/trans (3).png"), linear-gradient(-135deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

      &:nth-child(3)
       background-image: url("../img/trans (5).png"), linear-gradient(45deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

      &:hover
        h3
          bottom: -50px

    h3
      position: absolute
      bottom: -38px
      left: 3px
      font-size: 16px
      text-transform: uppercase
      transition: bottom .2s ease-in-out, left .2s ease-in-out



@media (min-width: $smartphones)

  .about

    &--banner
      height: auto

      &::before
        left: 155px

      &::after
        left: 310px

      h2
        margin-top: 0
        font-size: 55px

        &::before
          top: 43px
          left: 214px

        &::after
          top: 205px
          left: 205px


    

@media (min-width: $tablets)

  .about
    width: 100%
    max-width: 1400px
    height: 100%

    &--banner
      height: 350px

      &::before
        top: 1.25rem
        left: 12.5rem

      &::after
        top: 4.6875rem
        left: 25rem

      h2
        margin-top: 0
        font-size: 3.2rem

        &::before
          top: 3.75rem
          left: 16.75rem

        &::after
          top: 15.9375rem
          left: 15.9375rem

      h3
        position: relative
        font-size: 2.75rem
        font-weight: 500
        letter-spacing: .02em
        


      .image
        height: 90%
        width: 50%


      .swiper-slide-1 .image
        background-image: url("../img/trans (1).png")
        background: 
          position: 90% 0

      .swiper-slide-2 .image
        background-image: url("../img/trans (3).png")

      .swiper-slide-3 .image
        background-image: url("../img/trans (5).png")

      
    &--options
      justify-content: flex-start
      margin-top: 60px

      & > a
        position: relative
        width: 8.125rem
        height: 6.5625rem
        text-decoration: none
        margin-right: 3.125rem
        color: $white
        border: 0.625rem solid lighten($primaryHighlight,2%)
        

        &:nth-child(1)
          background-image: url("../img/trans (1).png"), linear-gradient(0deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

        &:nth-child(2)
          background-image: url("../img/trans (3).png"), linear-gradient(-135deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

        &:nth-child(3)
         background-image: url("../img/trans (5).png"), linear-gradient(45deg,rgba(173,42,92,.45), rgba(17,37,214,.45))

        &:hover
          h3
            bottom: -65px

      h3
        bottom: -3.25rem
        left: 0.3125rem
        font-size: 1.4rem



@media (min-width: $laptops)

  .about

    width: 90%

 
@media (min-width: $desktops)

  .about
    width: 70%

 

@media (max-width: $desktops) and (orientation: landscape)
  
  .about
    flex-direction: row
    align-items: flex-start
    padding-top: 6rem

    &--banner
      padding-bottom: 20px
      width: 80%

      &::before
        top: 1.25rem
        left: 12.5rem

      &::after
        top: 4.6875rem
        left: 25rem

      h2
        margin-top: 0
        font-size: 2.5rem

        &::before
          top: 3.75rem
          left: 16.75rem

        &::after
          top: 15.9375rem
          left: 15.9375rem

      h3
        font-size: 1.8rem
        font-weight: 500
        letter-spacing: .02em
        


      .image
        height: 90%
        width: 50%


      .swiper-slide-1 .image
        background: 
          position: 80% 0

      .swiper-slide-2 .image
        background: 
          position: 15% 0
        

      .swiper-slide-3 .image
        background: 
          position: 15% 0
      
    &--options
      padding-bottom: 10px
      width: 20%
      flex-direction: column
      justify-content: center
      align-items: flex-end
      margin-top: 0

      & > a
        width: 3.75rem
        height: 2.8125rem
        margin-right: 0
        margin-bottom: 25px
        border: 5px solid lighten($primaryHighlight,2%)
        

        &:hover
          h3
            bottom: -2.8rem

      h3
        bottom: -2rem
        left: 0.3125rem
        font-size: 1rem

  
@media (max-width: $desktops) and (orientation: landscape) and (min-width: $tablets)
  
  .about
    &--banner

      .image
        height: 70%


@media (max-width: $desktops) and (orientation: landscape) and (min-height: $smartphones)

  
  .about
    flex-direction: row
    align-items: flex-start
    padding-top: 6rem
 
    &--options

      & > a
        width: 75px
        height: 65px
        margin-right: 0
        margin-bottom: 45px
        border: 10px solid lighten($primaryHighlight,2%)
        

        &:hover
          h3
            bottom: -3.4rem

      h3
        bottom: -2.6rem
        font-size: 1.1rem



