.hire
  position: relative
  display: flex
  width: 100%
  max-width: 500px
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto



.work-request
  display: flex
  width: 100%
  flex-direction: column
  align-items: center
  color: $white

  >label
    font-size: 1.2rem
    font-weight: 300
    align-self: center
    text-transform: capitalize
    word-spacing: .2em
    color: rgba(255,255,255,.9)

  .parsley-errors-list
    margin: .3rem 0
    font-size: 1rem
    padding: 0 .2em
    line-height: 1.5em
    background: white
    text-transform: lowercase
    color: #cc0000
    font-weight: 500
    border-radius: 2px

    li:first-child
      position: relative

      &:after
        @include pseudo
        background: white
        bottom: 100%
        right: auto
        left: 5%
        width: 10px
        height: 10px
        transform: translateY(-50%) rotate(45deg)
   


  button[type="submit"]
    position: relative
    width: 18rem
    max-width: 100%
    line-height: .03em
    padding: 1.7rem 0;
    border-radius: 3px
    font-size: 1.5rem
    letter-spacing: .05em
    word-spacing: .2em;
    font-weight: 300
    text-transform: lowercase
    background-color: $primary
    border: none
    border-bottom: 3px solid darken($primary,15%)
    border-left: 3px solid darken($primary,15%)
    border: none
    background: transparent
    z-index: 1


    &:after,
    &:before
      @include pseudo
      z-index: -1
      border-radius: 2px
      transition: background .3s
      background: linear-gradient(135deg,darken($primaryHighlight,5%), lighten($primaryHighlight,5%))


    &:before
      transform: translate3d(-5px,8px,0)
      
    &:after
      transform: translate3d(5px,0px,0)
      

    &:focus
      outline: none
      
    &:focus,
    &:hover

      &:after,
      &:before
        transition: background .3s
        background: linear-gradient(135deg,lighten(rgba(173,42,92,1),5%), lighten(rgba(17,37,214,1),5%))

        

  &--services
    display: flex
    width: 100%
    flex-direction: column
    align-items: center
    flex-wrap: no-wrap
    margin: 0.625rem 0

    .services-a
      display: flex
      width: 100%
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-around

    .services-b
      display: flex
      width: 100%
      flex-wrap: wrap
      justify-content: space-around

    label
      display: block
      width: 40%
      margin-bottom: 1.5rem
      line-height: 2.4em
      font-size: 1.1rem
      letter-spacing: .03em
      word-spacing: .1em
      font-weight: 400
      text-align: center
      text-transform: uppercase
      border: 2px solid $white
      cursor: pointer
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out
      
      .mobile 
        display: inline
      .other
        display: none
        
      svg
        position: relative
        left: -5px
        width: 0
        fill: $white
        transition: width .2s ease-in-out

    input[type="checkbox"]
      display: none

      &:checked + label
        background-color: $primaryHighlight
        border-color: $primaryHighlight

        & svg
          width: 15px

  &--information
    display: flex
    width: 100%
    justify-content: space-between
    margin-bottom: 1.5rem

    .information-name,
    .information-email
      position: relative
      width: 45%
      height: 50px
      font-size: 1.4rem
      font-weight: 300

      


    input[type="text"],
    input[type="email"]
      width: 100%
      text-transform: capitalize
      padding: 0 0 5px 5px
      background-color: transparent
      border: none
      border-bottom: 1px solid $white
      border-radius: 0
      word-spacing: 0.2em

      &:focus
        outline: none
        background-color: rgba(0,0,0,.3)
      

    label
      text-transform: lowercase
      position: absolute
      top: 0
      left: 0
      pointer-events: none
      transition: top .2s ease-in-out, font-size .2s ease-in-out

    input:focus ~ label,
    input.has-value ~ label
      top: -15px
      font-size: 14px


@media (max-width: 400px) and (max-height: 500px)
  
  &--services   
      label
        margin-bottom: .5rem

@media all and (min-width: 600px)

  .hire
    width: 65%
    min-width: 500px
    max-width: initial

  .work-request

    >label
      font-size: 1.5rem  

    .parsley-errors-list
      font-size: 1.2rem
      padding: 0 .5em

    &--services
      margin: 30px 0

      label
        width: 200px
        margin-bottom: 2rem
        font-size: 1rem
        padding: 0 1rem
        line-height: 2.8em

        .mobile 
          display: none
        .other
          display: inline
      
      .services-a
        width: 100%

      .services-b
        width: 100%


    &--information
      margin-bottom: 3.75rem

      .information-name,
      .information-email
        font-size: 1.9rem




@media all and (min-width: 1200px)


  .work-request

    &--services

      .services-a
        width: 100%
        justify-content: space-evenly

      .services-b
        width: 75%
        justify-content: space-evenly


      label
        width: 180px
      


@media all and (max-width: 1200px) and (orientation: landscape)


  .hire
    width: 100%
    min-width: auto
    justify-content: flex-start

    .section__title
      font-size: 2.5rem
      margin-bottom: 1rem

  .work-request
    >label
      margin-bottom: 1.25rem

    .parsley-errors-list
      font-size: 1.2rem
      padding: 0 .5em

    &--services
      margin: 10px 0

      label
        width: 11rem
        margin-bottom: 2rem
        font-size: 1.1rem
        line-height: 2.5em

        .mobile 
          display: inline
        .other
          display: none
      
      .services-a
        width: 100%
        flex-wrap: nowrap
        justify-content: space-around

      .services-b
        width: 100%
        flex-wrap: nowrap
        justify-content: space-evenly


    &--information
      width: 95%
      margin-bottom: 2.5rem

      .information-name,
      .information-email
        font-size: 1.6rem

    
    button[type="submit"]
      width: 18rem
      max-width: 80%
      padding: 1.5rem 0
      font-size: 1.5rem



@media all and (max-width: 960px) and (orientation: landscape)


  .hire
    .section__title
      font-size: 2rem

  .work-request
    >label
      margin-bottom: 0

    .parsley-errors-list
      font-size: 1rem

    &--services

      label
        width: 9.5rem
        margin-bottom: 1rem
        font-size: .9rem


    &--information
      margin-bottom: 1.5rem

      .information-name,
      .information-email
        font-size: 1.5rem

    
    button[type="submit"]
      padding: 1.3rem 0
      font-size: 1.4rem





@media all and (max-width: 840px) and (orientation: landscape)

  .hire
    .section__title
      margin-bottom: 0

  .work-request
    >label
      font-size: 1rem  

    &--services
      margin: 10px 0

      label
        width: 7.5rem
        margin-bottom: 1rem
        font-size: .9rem
        line-height: 2.2em

    &--information

      .information-name,
      .information-email
        font-size: 1.2rem

    
    button[type="submit"]
      width: 15rem
      padding: 1.1rem 0
      font-size: 1.3rem



@media all and (max-width: 600px) and (orientation: landscape)



  .work-request
    >label
      display: none

    .parsley-errors-list
      font-size: .9rem

    &--services

      label
        font-size: .9rem
        line-height: 2em

    button[type="submit"]
      width: 14rem
      padding: .9rem 0 .7rem
      font-size: 1.2rem


// @media (max-width: 767px)

//   .work-request

//     &--options
//       flex-direction: row
//       justify-content: space-around

//       .options-a,
//       .options-b
//         display: block
//         width: auto



// @media (max-width: 600px)

//   .work-request

//     &--options
//       margin: 20px 0

//       @media (max-width: 415px)
//         justify-content: space-between

//       label
//         width: 150px
//         margin-bottom: 15px
//         font-size: 14px

//       input[type="checkbox"]

//         &:checked + label

//           & svg
//             width: 12px

//     &--information
//       margin-bottom: 30px

//       .information-name,
//       .information-email
//         height: 40px
//         font-size: 24px
