.intro
  position: relative
  display: flex
  width: 900px
  max-width: 75%
  height: 100%
  flex-direction: column
  justify-content: flex-start
  margin: 0 auto
  z-index: 10

  @media (max-width: 1180px)
    max-width: 100%

  &--banner
    position: relative
    height: 360px
    margin-top: 9rem

    h1
      position: relative
      font-size: 2.4rem
      font-weight: 400
      color: rgb(255,255,255)
      letter-spacing: -.01em
      word-spacing: .1em
      line-height: 1.2em
      z-index: 1
      font-family: $primaryFont;
      text-transform: capitalize;
      margin-top: 0
      margin-bottom: 1.2em
      // font-variant: small-caps
      // text-shadow: 5px 5px 22px rgba(0,0,255,.3), 5px 5px 12px rgba(0,0,255,.2), 1px 1px 1px rgba(0,0,0,.2), -1px -1px 15px rgba(0,0,0,.4)
    

  button
    position: relative
    padding: 5px 17px 5px 12px
    font-weight: 400
    font-size: 1.5rem
    text-transform: capitalize
    background-color: transparent
    border: none
    display: block
    margin: 0 1rem 2rem 0rem

    &.cta--hire
      word-spacing: .15em
    

    .btn-background
      position: absolute
      top: 0
      left: 23px
      right: 0
      height: 100%
      z-index: -1
      transition: left .2s ease-in-out

      &--highlight
        background-color: $primaryHighlight
        left: 0


      &--dull
        background-color: rgba(0,0,0,.3)
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.7)
        left: 0
        

    &:hover
      .btn-background
        left: 0

    &:focus
      outline: none

    svg
      position: relative
      left: 5px
      width: 15px
      fill: $white
  
  .muted-link
    display: block
    color: $grayed-white
    font-size: 1.4rem
    margin: 1.35rem .5rem




@media (max-width: 600px) and (max-height: 750px)

  .intro

    &--banner
      height: auto

      &::before,
      &::after
        display: none

      h1
        margin-top: 0


@media (min-width: 600px)

  .intro

    &--banner
      height: 305px

    button
      display: inline-block
      margin: 0 1rem 0 0rem

      .btn-background

        &--highlight
          left: 23px


@media (min-width: 600px) and (orientation: portrait)

  .intro
      h1
        font-size: 3rem

      button
        font-size: 1.8rem

      .muted-link
        font-size: 1.7rem



@media (min-width: 768px)

  .intro

    &--banner
      height: 16rem

      h1
        font-size: 3rem
        line-height: 1em

    button
      font-size: 1.7rem

    .muted-link
      font-size: 1.7rem



@media (min-width: 900px)

  .intro

    &--banner
      height: 17.5rem
      margin-top: 7rem



    &--options

      & > a
        margin-right: 30px

        &:last-child
          margin-right: 0




@media (min-width: 1200px)

  .intro

    &--banner
      height: 17.5rem
      margin-top: 9rem

      h1
        font-size: 3.5rem
        line-height: 1em



@media (max-width: 900px) and (orientation: landscape)
  
  .intro
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    z-index: 10

    &--banner
      width: 50%
      margin-top: 7rem

    .cta-container
      margin-top: 7rem

      button
        display: block
        margin: 0 1rem 2rem 0rem
      


    
      



@media (max-width: 600px) and (orientation: landscape)
  
  .intro

    &--banner
      margin-top: 5.5rem

    .cta-container
      margin-top: 5.5rem

      


    
      


  
  