// .owl-carousel .owl-item img
//   width: auto

.work
  position: relative
  display: flex
  width: 960px
  max-width: 80%
  height: 100%
  flex-direction: column
  justify-content: space-evenly
  margin: 0 auto
  // background: linear-gradient(to right, rgb(12,12,12), transparent, rgb(12,12,12)),  url("../img/new (2).jpg")
  // background: linear-gradient(to right, rgb(12,12,12), transparent, rgb(12,12,12)), linear-gradient(135deg,rgba(173,42,92,.75), rgba(17,37,214,.75)),  url("../img/new (1).jpg")
  // background-size: cover
  // background-repeat: no-repeat
  // background-position: 50% -40%


  &__lockup
    position: relative

    
    .outer-slider
      height: 60vh
      // padding: 1rem 0
      position: relative

      // list-style: none
      // &--wrapper

      // &:after
      //   @include pseudo
      //   background: $primaryHighlight
      //   opacity: .3
      //   transform: scale3d(1, 1, 1)
      //   border-radius: 4px

      &__controls
        // background: white
        margin-bottom: 3rem
        width: 100%
        height: 2.8125rem

      &__btn
        width: calc(50%)
        border-radius: 50px
        background: darken($primary,7%)
        color: white
        font-size: 1.2rem
        font-family: $primaryFont
        font-weight: 500
        height: 2.8125rem
        line-height: 2.8125rem
        text-decoration: none
        display: inline-block
        margin: 0 0 0 0
        text-align: center
        letter-spacing: .05em
        text-transform: uppercase
        transition: background .3s

        &:hover
          background: $primaryHighlight

        .text
          display: block



        &.swiper-slide-active
          
          background: linear-gradient(45deg,rgba(210, 70, 124,1), rgba(15, 51, 255,1))
          // background: rgb(10,10,10)
          // background: $primaryHighlight
          color: rgb(255,255,255)
          // border-top-left-radius: 10px 60px
          // border-top-right-radius: 4px
          // border-bottom-right-radius: 10px 60px
          // border-bottom-left-radius: 4px
          border-radius: 50px
          font-size: 1.25rem
          transform: scale(1.05) translateY(0px)
          // border: 1px solid red
          
        &:not(.swiper-slide-active)
          opacity: 0
          visibility: hidden



      &__item
        height: 100%
        list-style: none

      &__nav
        position: absolute
        top: 0.15625rem
        z-index: 200
        height: 2.5rem
        width: 2.5rem
        background: $primary
        text-align: center

        &--prev
          left: 0px
          border-radius: 3.125rem 0.625rem 0.625rem 3.125rem 

        &--next
          right: 0px
          border-radius:  0.625rem 3.125rem 3.125rem 0.625rem
        

        .icon
          display: inline-block
          height: 100%
          width: 100%
          line-height: 2.8125rem
          
          svg
            display: inline
            width: 50%
            fill: $white
            


      


    .inner-slider

      position: relative
      padding: 0

        
      &__item
        list-style: none
        width: 70%


        a
          text-decoration: none
          color: #fafafa
          font-family: $contentFont2
          

        &.swiper-slide-active 
          .inner-slider__item-image-container:after
            opacity: 0

          .inner-slider__item-image-container:after
            opacity: 0

          .inner-slider__item-content:after
            opacity: 1

          
        &-content
          padding: 1rem 1rem
          position: relative
          z-index: 1
          border-radius: 4px
          overflow: hidden
          background: rgba(0,0,0,.15)

          &:after
            @include pseudo
            background: linear-gradient(135deg, rgba(173,42,92,1), rgba(17,37,214,1))
            border: 3px solid white
            background-size: cover
            opacity: 0
            transition: all .3s
            z-index: -1


        &-title
          margin: 0.625rem 0 0
          font-size: 1.2rem
          letter-spacing: .06em;
          font-weight: 700
          text-transform: capitalize

        &-description
          font-family: $contentFont
          margin: 0.625rem 0
          width: 100%
          padding: 0 .4em 0 0em
         
        &-image-container
          position: relative
          height: 30vh
          min-height: 100px
          border-radius: 4px
          overflow: hidden
          transition: all .3s

          .inner-slider__item-image
            width: 100%
            height: 100%
            object-fit: cover
            transition: all .3s

          &:after
            @include pseudo
            opacity: 1;
            background-color: rgba(0,0,0,.15)
            background: linear-gradient(135deg, rgba(173,42,92,.5), rgba(17,37,214,.5))
            z-index: 2
            transition: all .3s


          .inner-slider__item-title
            margin-top: 25px
            font-size: 16px

          .inner-slider__item-description
            display: block

          
    .inner-slider__nav
      position: absolute
      top: 65%
      display: flex
      width: 2.8rem
      height: 2.8rem
      align-items: center
      justify-content: center
      background-color: rgba(0, 0, 0,.6)
      border: 1.5px solid rgba(255,255,255,.6)
      cursor: pointer
      z-index: 20
      border-radius: 50%
      border-radius:  0.625rem 

      svg
        width: 20px
        fill: $white

      &--next
        right: 0

      &--prev
        left: 0




@media all and (min-width: 768px)

  .work__lockup

      .inner-slider

        &__item
          width: 50%

          a
            &:hover .inner-slider__item-image
              transform: scale(1.3)

            &:hover .inner-slider__item-image-container
              transform: scale(.9)

            &:hover .inner-slider__item-image-container:after
              opacity: 0

            &:hover .inner-slider__item-image-container:after
              opacity: 0

            &:hover .inner-slider__item-content:after
              opacity: .6


          &-image-container
            height: 30vh
            min-height: 140px

          &-title
            margin: 0.625rem 0 
            font-size: 1.5rem

          &-content
            padding: 2rem 2rem

        &__nav
          width: 3rem
          height: 3rem

          &--next
            right: 10px

          &--prev
            left: 10px




      .outer-slider

        &__controls
          width: 100%

        &__btn

          &:not(.swiper-slide-active)
            opacity: 1




@media all and (min-width: 900px)

  .work

    &__lockup

      .inner-slider

        &__item
            width: 30%

      .outer-slider

          &__controls
            width: 80%

          &__btn
            width: calc(33.33% - 40px)
            margin: 0 0rem 0 


            &.swiper-slide-active
              
              background: linear-gradient(45deg,rgba(210, 70, 124,1), rgba(15, 51, 255,1))

            &:not(.swiper-slide-active)
              opacity: 1
              visibility: visible

          &__nav
            opacity: 0
            visibility: hidden
            




@media all and (max-width: 1180px)
    .work
      max-width: 100%


@media all and (max-width: 400px)
    .work__lockup
      
      .inner-slider

        &__item

          &-image-container
              position: relative
              height: 25vh

// @media (max-width: 900px)

//   .work

//     &--lockup

//       .inner-slider

//         &--item

//           &-image
//             width: 120px
//             height: 120px

//           &-center

//             .inner-slider--item-image
//               width: 240px
//               height: 240px

//       .inner-slider--next,
//       .inner-slider--prev
//         top: 130px

// @media (max-width: 767px)

//   .work

//     &--lockup

//       .inner-slider
//         width: 75%

//         &--item

//           &-image
//             width: 90px
//             height: 90px

//           &-center

//             .inner-slider--item-image
//               width: 190px
//               height: 190px

//       .inner-slider--next,
//       .inner-slider--prev
//         top: 105px

// @media (max-width: 600px)

//   .work

//     &--lockup

//       .inner-slider
//         width: auto

//         &--item

//           &-left,
//           &-right
//             display: none
