// .owl-carousel .owl-item img
//   width: auto

.work
  position: relative
  display: flex
  width: 960px
  max-width: 80%
  height: 100%
  flex-direction: column
  justify-content: flex-end
  margin: 0 auto

  @media (max-width: 1180px)
    max-width: 100%

  h2
    margin: 0 0 20px 0
    font-size: 30px
    text-align: center

  &--lockup
    position: relative
    
    .outer-slider
      height: 70vh
      // list-style: none
      // &--wrapper

      &--controls
        // background: white
        margin-bottom: 1rem
        width: 80%

      &--btn
        background: rgb(40,40,40)
        color: white
        text-decoration: none
        display: inline-block
        width: calc(30% - .8rem)
        margin: 1rem .8rem
        text-align: center
        padding: 1rem .5rem
        font-size: 1.2rem
        letter-spacing: .05em
        font-family: $primaryFont
        text-transform: uppercase
        font-weight: 500
        border-radius: 3px
        


        &.swiper-slide-active
          
          background: linear-gradient(135deg,rgba(173,42,92,.55), rgba(17,37,214,.55))
          background: rgb(10,10,10)
          color: rgb(200,200,200)
          box-shadow: 4px 2px 15px 2px hsla(231, 100%, 53%,.25), -4px -2px 15px 2px hsla(231, 100%, 53%,.25), 4px 2px 15px 2px hsla(285, 100%, 45%,.25), -4px -2px 15px 2px hsla(285, 100%, 45%,.25)
          border-top-left-radius: 10px 60px
          border-bottom-right-radius: 10px 60px
        // border: 1px solid red


      &--item
        height: 100%
        list-style: none

    .inner-slider

      // position: relative
      // display: flex
      // width: 80%
      // margin: 0 auto
      padding: 0
      // list-style: none
      
      // &--wrapper
        
      &--item
        list-style: none
        width: 30%
        // 
        // position: absolute
        // display: none
        // text-align: center


        a
          text-decoration: none
          color: #fafafa
          font-family: $contentFont2
          

          &:hover .inner-slider--item-image
            transform: scale(1.3)

          &:hover .inner-slider--item-image-container
            transform: scale(.9)

          &:hover .inner-slider--item-image-container:after
            opacity: 0

          &:hover .inner-slider--item-image-container:after
            opacity: 0

          &:hover .inner-slider--item-content:after
            opacity: 1

          
        &-content
          padding: 2rem 2rem
          position: relative
          z-index: 1
          border-radius: 4px
          overflow: hidden

          &:after
            @include pseudo
            background: linear-gradient(135deg, rgba(173,42,92,.5), rgba(17,37,214,.5))
            background-size: cover
            opacity: 0
            transition: all .3s
            z-index: -1


        &-title
          margin-top: 10px
          font-size: 1.5rem
          letter-spacing: .06em;
          font-weight: 700
          text-transform: capitalize

        &-description
          font-family: $contentFont
          // display: none
          width: 100%
          padding: 0 .4em 0 0em
         
        &-image-container
          position: relative
          // width: 150px
          height: 40vh
          min-height: 140px
          // margin: 0 auto
          border-radius: 4px
          overflow: hidden
          transition: all .3s

          .inner-slider--item-image
            // @include absolute
            width: 100%
            height: 100%
            object-fit: cover
            transition: all .3s

          &:after
            @include pseudo
            opacity: 1;
            background-color: rgba(0,0,0,.15)
            background: linear-gradient(135deg, rgba(173,42,92,.5), rgba(17,37,214,.5))
            z-index: 2
            transition: all .3s

        &-left
          // top: 50%
          // left: 0
          // transform: translateY(-50%)
          // display: block

        &-right
          // top: 50%
          // right: 0
          // transform: translateY(-50%)
          // display: block

        &-center
          // position: relative
          // top: 30px
          // left: 50%
          // transform: translateX(-50%)
          // display: block

          a
            // color: $white

          .inner-slider--item-title
            margin-top: 25px
            font-size: 16px

          .inner-slider--item-description
            display: block

          .inner-slider--item-image
            width: 300px
            height: 300px

    .inner-slider--next,
    .inner-slider--prev
      position: absolute
      top: 160px
      display: flex
      width: 50px
      height: 50px
      align-items: center
      justify-content: center
      background-color: $muted-gray
      border-radius: 50%
      cursor: pointer
      z-index: 20

      svg
        width: 20px
        fill: $white

    .inner-slider--next
      right: 0

    .inner-slider--prev
      left: 0

@media (max-width: 900px)

  .work

    &--lockup

      .inner-slider

        &--item

          &-image
            width: 120px
            height: 120px

          &-center

            .inner-slider--item-image
              width: 240px
              height: 240px

      .inner-slider--next,
      .inner-slider--prev
        top: 130px

@media (max-width: 767px)

  .work

    &--lockup

      .inner-slider
        width: 75%

        &--item

          &-image
            width: 90px
            height: 90px

          &-center

            .inner-slider--item-image
              width: 190px
              height: 190px

      .inner-slider--next,
      .inner-slider--prev
        top: 105px

@media (max-width: 600px)

  .work

    &--lockup

      .inner-slider
        width: auto

        &--item

          &-left,
          &-right
            display: none
